h1 {
    text-align: center;
}

#bold{
    font-weight: bold;
}

#italic {
    font-style: italic;
}

#underline {
    text-decoration: underline;
}

.menu {
    display: flex;
    justify-content: center;
    background-color:lightblue;
    height: 40px;
    align-items: center;
}

